@media(width > 1440px){
    body{
        background-image: url(assets/desktopb.svg);
    }
    .main{
        overflow: hidden;
        background-image: url(assets/dkdd.svg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        width: 920px;
        height: 509px;
        flex-shrink: 0;
        border-radius: 23px;
        background-color: #FFF;
        box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.50);
    }
    .mn1{
        margin-left: -110px;
        margin-right: 88px;
    }
    .deskimg{
        display: block;
        margin-top: 50px;
        margin-left: 88px;
    }
    .tgbox{
        display: block;
        position: absolute;
        top: 356px;
        right: 1088px;
    }
    .mnimg{
        display: none;
    }
    .imgs{
        display: none;
    }
    .mn2{
        display: flex;
        align-items: start;
        text-align: start;
    }
    .tetri{
        width: 350px;
        height: 1px;
        flex-shrink: 0;
    }
    h3{
        width: 253px;
        font-size: 14px;
    }
    h4{
        width: 319px;
        font-size: 12px;
        line-height: 18px;
    }
    .arr1{
        margin-left: 72px;
    }
    .arr2{
        margin-left: 71px;
    }
    .arr3{
        margin-left: 72px;
    }
    .arr4{
        margin-left: 73px;
    }
    .arr5{
        margin-left: 74px;
    }
    
    .deskimg{
        animation: updown infinite 5s linear; 
    }
    
    @keyframes updown{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(30px);
        }
        100%{
            transform: translateY(0);
        }
    }

}